<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    {% load my_tags %}
    <title>Discurso docente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body class="">
  <div class="container">
    <div class=""> <br><h1>Descripción del discurso docente <small> Asignatura y protocolo COPUS</small></h1><br><br></div>
  <!--<div class="container">

  <div class="page-header">
      <h1>Discurso docente <small> Descripción de un fragmento de sesión</small></h1>
  </div>
  </div> -->
  <!-- Survey - START -->
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Fragmento de sesión a describir
        </div>
        <div class="panel-body">
          <pre class="" style='overflow: auto;white-space:pre-wrap;word-break: keep-all; height:550px;'>
{% for line in text %}
{{ forloop.counter}}- {{ line }}
{% endfor %}
          </pre>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="overflow: auto; height:650px;">
      <div class="col-md-11 order-md-1">
        <form action={% url 'discourse_form:encuesta' form_id %} method="post"  onsubmit="return validateForm()">
        {% csrf_token %}
          <div class="form-group" style="margin-bottom:5%">
            <label class="label-spec" for="id_email">Ingrese su email:</label>
            {{ form.email }}
          </div>
          <div class="form-group" style="margin-bottom:5%">
            <label class="label-spec" for="id_subject">Seleccione las asignaturas presentes en la sesión:</label>
            {{ form.subject }}
          </div>
          <div class="form-group" style="margin-bottom:5%">
            <div class="fieldWrapper">
              <label class="label-spec" for="id_dialogic">El discurso docente tiene carácter:</label>
              {% for field in form.dialogic %}
              {{ field.label_tag }}
              {{ field }}
              {% if forloop.counter < 3 %}
              <button type="button" id="span_{{field.id_for_label}}" {% if form.dialogic.initial|contains2:field.id_for_label %} style=""  {%else%} style="display:none" {% endif %} ><span  class="glyphicon glyphicon-pencil" ></span></button>

              <!-- Modal -->
                          <div class="modal fade in bd-example-modal-lg" id="myModal_{{field.id_for_label}}" role="dialog">
                            <div class="modal-dialog modal-lg vertical-align-center">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="my_title_{{field.id_for_label}}"></h4>
                                </div>
                                <div class="modal-body">
                                  <pre class="pre-scrollable " style='white-space:pre-wrap;word-break: keep-all;'>
{% for line in text %}
<label><input type="checkbox" name="input_{{field.id_for_label}}_{{ forloop.counter }}" value="{{ line }}" {% if forloop.counter in d_phrases|in_dict_str2:field.id_for_label %} checked {% endif %}> {{ forloop.counter}}- {{ line }}</label>
{% endfor %}</pre>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Guardar</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                    {% endif %}
              {% endfor %}
            </div>
            </div>
          </div>
          <div class="form-group" style="margin-bottom:5%">
            <div class="fieldWrapper">
                {% if form.copus_code.errors %}
                  {% if form.subject.errors %}
                  {% else %}
                  <script>
                      alert('Es necesario que seleccione al menos un evento del protocolo COPUS');
                  </script>
                  {% endif %}
                {% endif %}
                    <label class="label-spec" for="id_copus_code">Seleccione las acciones que observa en el docente:</label>
                    {% for field in form.copus_code %}
                    <div class="fieldWrapper">
                        
                        {{ field.label_tag }} {{ field }}
                        <button type="button" id="span_{{field.id_for_label}}"  {% if form.copus_code.initial|contains:field.id_for_label %} style=""  {%else%} style="display:none" {% endif %} ><span  class="glyphicon glyphicon-pencil" ></span></button>
                        <!-- Modal -->
                          <div class="modal fade in bd-example-modal-lg" id="myModal_{{field.id_for_label}}" role="dialog">
                            <div class="modal-dialog modal-lg vertical-align-center">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="my_title_{{field.id_for_label}}"></h4>
                                </div>
                                <div class="modal-body">
                                  <pre class="pre-scrollable " style='white-space:pre-wrap;word-break: keep-all;'>
{% for line in text %}
<label><input type="checkbox" name="input_{{field.id_for_label}}_{{ forloop.counter }}" value="{{ line }}" {% if forloop.counter in cc_phrases|in_dict_str:field.id_for_label %} checked {% endif %}> {{ forloop.counter}}- {{ line }}</label>
{% endfor %}</pre>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Guardar</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                    </div>

                    {% endfor %}
                    <div class="fieldWrapper">
                      {{ form.dummy_copus_code }} <b>Ninguna de las anteriores</b>
                    </div>
            </div>
          </div>
          <div class="container-contact100-form-btn">
            <button type="submit" class="contact100-form-btn" >
                <span>
                  Siguiente
                  <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
  <script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
  <script>
    $('[id^="id_dummy_copus_code"]').on('change', function() {
      $('[id^="id_copus_code_"]').prop('checked', false);
      $("[id^='span_id_copus_code']").hide();  
    });

    $('[id^="id_copus_code_"]').on('change', function() {
      if (this.checked){
        $("[id='span_"+this.id+"']").show();
      }
      else{
        $("[id='span_"+this.id+"']").hide();
      }
      $('[id^="id_dummy_copus_code"]').prop('checked', false);  
    });

    $('[id="id_dialogic_2"]').click( function() 
    {
      if (this.checked){
        $("[id^='span_id_dialogic']").hide(); 
      }

    });
    $('[id^="id_dialogic_"]').on('change', function() {
      if (this.checked){
        $("[id^='span_id_dialogic']").hide(); 
        $("[id='span_"+this.id+"']").show();
      }
      else{
        $("[id='span_"+this.id+"']").hide();
      }
    });
    function validateForm(id) {
      if ($('#id_subject input:checked').length == 0){
        alert("Por favor seleccione al menos una asignatura");
        return false;
      }
      var checkk = $('[id^="id_copus_code"]');
      var checkedOne = Array.prototype.slice.call(checkk).some(x => x.checked);
      if (checkedOne == false){
        if ($('#id_dummy_copus_code').prop('checked') == false){
          alert("Por favor seleccione al menos un evento del protocolo COPUS");
          return false;
        }
      }
      return true;
    }
    $( document ).ready(function() {
      $('[id^="span_id_"]').click(function() {
        label_text = $("[id='"+this.id.substring(5)+"']").parent().text();
        label_id = this.id.substring(4);
        $("[id='my_title"+label_id+"']").text('Seleccione las líneas del fragmento que se relacionan con: "'+label_text+'"');
        $("[id='myModal"+label_id+"']").modal();
            
        });
//data-toggle="modal" data-target="#myModal_{{ field.id_for_label}}" 
    });
    console.log({{d_phrases}});
  </script>
<!--===============================================================================================-->
  <script src="{% static "js/main.js" %}"></script>
</body>
</html>