<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    {% load my_tags %}
    <title>Discurso docente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body class="">
  <div class="container">
    <div class=""> <br><h1>Descripción del discurso docente <small> Objetivos de aprendizaje</small></h1><br><br></div>
  <!--<div class="container">

  <div class="page-header">
      <h1>Discurso docente <small> Descripción de un fragmento de sesión</small></h1>
  </div>
  </div> -->
  <!-- Survey - START -->
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Fragmento de sesión a describir
        </div>
        <div class="panel-body">
          <pre class="" style='overflow: auto;white-space:pre-wrap;word-break: keep-all; height:550px;'>
{% for line in text %}
{{ forloop.counter}}- {{ line }}
{% endfor %}
          </pre>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="overflow: auto; height:650px;">
      <div class="vertical-align">
      <div class="col-md-11 order-md-1 ">
                    <form action="" method="post">
            <table>
        {% csrf_token %}
        {% for axe, form in axis.items %}
        <tr>
          <td>
              <div class="" style="margin-bottom:5%">
                  Con respecto al eje <b>{{ axe }}</b>, seleccione:
              </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group" style="margin-bottom:5%">
                        <label class="label-spec" for="id_goal">Los objetivos de aprendizaje que el docente promueve en la sesión:</label>
                        <ul>
                    {% for field in form.goal.field.choices %}
                      <li>
                        <label for="id_{{axe}}-goal_{{field.0}}" data-toggle="tooltip" title="{{ oa_description|in_dict:field.0 }}"><input type="checkbox" name="{{axe}}-goal" value="{{field.0}}" id="id_{{axe}}-goal_{{field.0}}" {% if field.0 in form.goal.initial %} checked{% endif %}> {{field.1}}</label>
                        <button type="button" id="span_id_{{axe}}-goal_{{field.0}}"  {% if field.0 in form.goal.initial %} style="" {%else%} style="display:none" {% endif %} ><span  class="glyphicon glyphicon-pencil" ></span></button>
                      </li>

                    {% endfor %}
                      <li>
                        {{ form.dummy_goal }} <b>Ninguna de las anteriores</b>
                        </li>
                    </ul>

                    </div>
          </td>
        </tr>
      {% if form.goal.errors %}
        <script>alert('Es necesario que seleccione al menos una objetivo de aprendizaje');</script>
      {% endif %}
      {% endfor %}
      </table>
      <div class="col-md-5 order-md-1">
           <div class="container-contact100-form-btn">
            <button type="submit" class="contact100-form-btn-l" formaction={% url 'discourse_form:question_2_back' form_id user_m %}>
              <span>
                <i class="fa fa-long-arrow-left m-l-7" aria-hidden="true"></i>
                Atrás
              </span>
            </button>
            </div>
        </div>

        <div class="col-md-2 order-md-2">
        </div>
          <div class="col-md-5 order-md-2">
          <div class="container-contact100-form-btn">
            <button type="submit" class="contact100-form-btn"  onclick="return validateForm()">
              <span>
                Enviar
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
        </div>
      </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
  <script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
  <script>
    {% for axe, form in axis.items %}
  <script>
    $('[id^="id_{{ axe }}-dummy_goal"]').on('change', function() {
      $('[id^="id_{{ axe }}-goal"]').prop('checked', false);  
    });
    $('[id^="id_{{ axe }}-goal"]').on('change', function() {
      $('[id^="id_{{ axe }}-dummy_goal"]').prop('checked', false);  
    });
  </script>
  {% endfor %}
  <script>
    function validateForm(id) {
      {% for axe, form in axis.items %}
      var checkk = $('[id^="id_{{ axe }}-goal"]');
      var checkedOne = Array.prototype.slice.call(checkk).some(x => x.checked);
        if (checkedOne == false){
          if ($('[id^="id_{{ axe }}-dummy_goal"]').prop('checked') == false){
            alert("Por favor seleccione al menos un objetivo de aprendizaje para el eje {{ axe }}");
            return false;
          }
      }
      {% endfor %}
      return true;
    }
  </script>
<!--===============================================================================================-->
  <script src="{% static "js/main.js" %}"></script>
</body>
</html>