<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    <title>Discurso docente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #ff5f5f;">
  <div class="container">
    <div class= class="col-md-12" style="margin-bottom:15%">
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-body">

                <h2 align="center" style="margin-bottom:5%">Análisis de discurso docente</h2>
              </div>
            </div>
        </div>
    </div>

  </div>
</body>
  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

</html>