<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Discurso docente</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Descripción del discurso docente
				</span>
				<div class="panel panel-info">

					<div class="panel-heading">
						Fragmento de sesión a describir
					</div>
					<div class="panel-body">
				    	<pre>que no entiende la miel en clase que no lo olvide
y a ver estamos todos tranquilos primero que nada buenas tardes niños ya bien
hoy nosotros y yo estaba muy entusiasmado que ya no tener unas tapitas de mi vida pero por lo visto no solamente algunos lo hicieron Ahora yo traje yo dije voy a ponerme el parche antele días y trae
la bolsa grande con tapa no escuchen escuchen o no se entusiasmé todavía pero el otro cuarto que también hicimos la misma actividad pasó lo mismo que pasó con ustedes hubo 2 a igual que acá trajeron
vida y restaurar Entonces tuve que tomar todas las tapas que tenía y se las pasé pasé todo desarrollaron la actividad esto En el sentido lo pasaron bien hicieron lo que yo esperaba que hiciera
qué tenía que ver con la columna vertebral que de hecho yo estaba bien preparado tenía mucha herramienta para hacerle
se le ayudó a la tapa traje alambre o sea yo Cumplí mi parte ya traje la traje las cabecitas quiero ponerme a molestar
cabecita no pero usted no lo trajeron aquí lo trajo y acá también entonces bajo Esa condición hace un poco difícil
Qué podemos hacer para que podamos hacer la actividad porque no es posible que uno esté trabajando y resta nada Por qué van a hacer
se fija en todo caso es una actividad en la cual pueden trabajar en la mesa porque hay que hacer cosas y qué bueno
razones seguridad yo le diste la doy y todas las tapas no sé cómo hacemos porque sino Si no vamos a quedar igual porque me queda viendo
sí Entonces ya sabemos quién trajo bueno
entonces la idea me ve igual de todas maneras quiero contarle de qué se trata ya con esta en su libro también no es una idea original mía ni mucho menos sino que básica
la idea era que comprendieron usted cómo era nuestro nuestra columna vertebral que está hecha con a mejor la muestra una foto más fácil una foto una foto mía que yo aparezco
muchas de la columna vertebral PDF que falta aquí
se fue mi amor a ver aquí voy a mostrar una imagen a ver
es importante que ser atento que se está bueno
creo que ha perdido la conexión
vamos a ver que funcione
sí adopta a veces secuelas
no no no </pre>

				  	</div>
				</div>
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" placeholder="Ingrese su email ">
				</div>


				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100"> Asignatura *</span>
					<div>
						<select class="js-select2" name="service">
							<option>Elegir asignatura</option>
							<option>Matemática</option>
							<option>Ciencias Naturales</option>
							<option>Lenguaje</option>
							<option>Historia y Geografía </option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Siguiente
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
-->
</body>
</html>
